/* Apply a slightly off-white background and set the font */
body {
  background-color: #FAF9F6; /* Slightly off-white background */
  font-family: 'Arial', sans-serif; /* Use Arial or another font */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body covers at least the viewport height */
  display: flex; /* Flexbox layout */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column; /* Ensure vertical alignment of children */
}

/* Centered content box */
.content {
  background-color:#FAF9F6; /* Slightly off-white background */
  max-width: 1000px; /* Maximum width */
  width: 100%; /* Full width up to the max-width */
  padding: 20px;
  box-sizing: border-box;
  text-align: left; /* Left align text */
  word-wrap: break-word; /* Ensure text wraps properly */
}

/* Centered content box */
.excerpt {
  max-width: 1000px; /* Maximum width */
  width: 100%; /* Full width up to the max-width */
  padding: 20px;
  margin-left: 20px;
  box-sizing: border-box;
  text-align: left; /* Left align text */
  word-wrap: break-word; /* Ensure text wraps properly */
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
} 

.excerpt.expanded {
  max-height: 1000px;
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
}

